params {
    // Mobilome
    genomad_db                   = "/home/elif/msthesis/weeks/12th_week/map_6strain/dbs/genomad/genomad_db_v1.9"
    checkv_db                    = "/home/elif/msthesis/weeks/12th_week/map_6strain/dbs/checkV/checkv_db/checkv-db-v1.5"
    icefinder_macsyfinder_models = "/home/elif/msthesis/weeks/12th_week/map_6strain/dbs/icefinder2/icf2_dbs/macsydata"
    icefinder_hmm_models         = "/home/elif/msthesis/weeks/12th_week/map_6strain/dbs/icefinder2/icf2_dbs/icehmm/icescan.hmm"
    icefinder_prokka_uniprot_db  = "/home/elif/msthesis/weeks/12th_week/map_6strain/dbs/icefinder2/icf2_dbs/icefinder_prokka_uniprot"

    // PATHOFACT2
    pathofact_models             = "/home/elif/msthesis/weeks/12th_week/map_6strain/dbs/pathofact"
    virulencefactors_db          = "/home/elif/msthesis/weeks/12th_week/map_6strain/dbs/virulence/VFDB_setB_pro.dmnd"
    ncbi_cdd                     = "/home/elif/msthesis/weeks/12th_week/map_6strain/dbs/localcdsearch/database"

    // AMR
    amrfinderplus_db             = "/home/elif/msthesis/weeks/12th_week/map_6strain/dbs/amrfinderplus/amrfinderplus_db"
    deeparg_db                   = "/home/elif/msthesis/weeks/12th_week/map_6strain/dbs/deeparg/db"
    rgi_db                       = "/home/elif/msthesis/weeks/12th_week/map_6strain/dbs/rgi/card_dir"

    // BGC
    antismash_db                 = "/home/elif/msthesis/weeks/12th_week/map_6strain/dbs/antismash/antismash_db"

    deeparg_model                = "LS"
    deeparg_tool_version         = "1.0.4"
    deeparg_db_version           = 2
}

process {
    withName: '.*ISESCAN.*' {
        memory = { 64.GB * task.attempt }
        cpus   = 8
        errorStrategy = { task.exitStatus in [137, 140, 1] ? 'retry' : 'finish' }
        maxRetries    = 2
    }
}